header {
  background: #1a0703;
}
h1 {
  color: white;
}
.nav-bar {
  color: #918b79;
}
.text {
  color: #1a0703;
}
.plain-link {
  color: #748b69;
}
.link-button {
  color: white;
  background-color: #55251d;
}

.footer {
  background-color: #1a0703;
  color: white;
}

.footer-text,
.footer-link {
  color: white;
}
