.header {
  background: #1a0703;
}
h1 {
  color: white;
}
.nav-bar {
  color: #918b79;
}
li.menu-focus {
  color: #728f64;
}
.main,
body {
  background-color: #918b79;
}

.text {
  color: #1a0703;
}

.link-button,
.call-to-action {
  color: white;
  background-color: #55251d;
}

.footer {
  background-color: #1a0703;
  color: white;
  padding: 0.5%;
  margin: 0;
}

.footer-text,
.footer-link {
  color: white;
}
.link {
  color: #1a0703;
}
.image-link:hover {
  color: #55251d;
}
.footer-link:hover {
  color: #728f64;
}

.email-link:hover {
  color: white;
}
