body * {
  font-family: "Muli", sans-serif;
}

.nav-bar {
  font-size: 1.3rem;
  font-family: "Muli", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  font-family: "Philosopher", sans-serif;
  text-align: center;
}

h2 {
  line-height: 120%;
  font-family: "Philosopher", sans-serif;
}

h2.project-title {
  font-size: 1.25rem;
}
.project-landing p {
  font-size: 1.1rem;
  line-height: 130%;
}
.headline p {
  font-size: 1.1rem;
}
.headline,
article,
.screenshots-link {
  text-align: center;
}
.link-button {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 1.05rem;
}
.screenshots-link,
.footer-link {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
}

.text {
  line-height: 150%;
  font-size: 1.1rem;
}

em {
  font-weight: bold;
  font-family: "Philosopher", sans-serif;
  font-style: normal;
}
span.emphasize {
  font-weight: 600;
  font-size: 1.2rem;
}
.footer-text {
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
}

@media screen and (min-width: 520px) {
  .headline p {
    font-size: 1.5rem;
    line-height: 150%;
  }
  span.emphasize {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 900px) {
  .menu-items li {
    font-size: 1.5rem;
  }
  .headline p {
    font-size: 1.5rem;
  }
  span.emphasize {
    font-size: 1.75rem;
  }
  .call-to-action {
    font-size: 1.25rem;
  }
  .name-logo {
    font-size: 3rem;
  }
  li.menu-focus {
    font-weight: 900;
    font-size: 1.75rem;
  }
}
