body * {
  font-family: "Muli", sans-serif;
}

.nav-bar {
  font-size: 1.25rem;
  font-family: "Muli", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  font-family: "Philosopher", sans-serif;
  text-align: center;
}

h2 {
  line-height: 120%;
  font-family: "Philosopher", sans-serif;
}

.headline,
article,
.image-link {
  text-align: center;
}
.image-link,
.link-button,
.footer-link {
  font-weight: bold;
  text-decoration: none;
}
.image-link {
  font-size: 1.25rem;
}
.text {
  line-height: 150%;
}

em {
  font-weight: bold;
  font-family: "Philosopher", sans-serif;
  font-style: normal;
}
span {
  font-weight: 600;
  font-size: 1.05rem;
}
.quiz-app-link {
  font-size: 0.75rem;
}

.footer-text {
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
}

@media screen and (min-width: 900px) {
  .menu-items li {
    font-size: 1.5rem;
  }
  .headline {
    font-size: 1.5rem;
  }
  .headline span {
    font-size: 1.75rem;
  }
  .call-to-action {
    font-size: 1.25rem;
  }
}

li.menu-focus {
  font-weight: 900;
  font-size: 1.75rem;
}
