* {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
}

.headshot {
  width: 60%;
}

header {
  font-size: 3rem;
  height: 20%;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0 auto;
  height: 50%;
  background-color: rgb(176, 184, 176);
}

ul {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  height: 50%;
  background-color: rgb(99, 97, 97);
}

main {
  height: 65%;
}

.text, .screenshots-full-flex {
  margin: 10px auto;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text p {
  margin: 5px;
  padding: 20px;
  font-size: 1.25rem;
  background-color: gray;
}

.screenshot {
  width: 80%;
}

.screenshot-thumbs {
  width: 40%;
}

.screenshot-thumbs-flex {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-evenly;
}

footer {
  height: 150px;
  margin: 10px auto 0 auto;
  background-color: rgb(176, 184, 176);
}
