/*///////////////////////// //////// /////////////////////////*/
/*////////////////////////// RESET ///////////////////////////*/
/*///////////////////////// //////// /////////////////////////*/

html {
  scroll-behavior: smooth;
}
html,
body {
  box-sizing: border-box;
  min-height: 100vh;
  width: 99vw;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body * {
  margin: 0 5px;
  padding: 2%;
}

.nav-link {
  text-decoration: none;
}
/*///////////////////////// //////// /////////////////////////*/
/*////////////////////////// GLOBAL ///////////////////////////*/
/*///////////////////////// //////// /////////////////////////*/
body,
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main,
.project-landing,
.headline,
.text,
.screenshots-full-flex,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-logo-link,
.name-logo,
.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.screenshot-thumbs-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.main {
  width: 98vw;
  border: solid 2px blue;
}
.nav-link {
  border: solid 2px green;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 0;
}
.main,
.headline.text {
  margin: 5px 0;
  padding: 10px;
}

.text,
.screenshots-full-flex {
  margin: 10px auto;
  padding: 0 5px;
}
.project-title {
  padding: 0;
  margin: 5px 0;
}
em {
  padding-left: 0;
}

.project-landing {
  padding: 0;
  margin: 0;
}
section.project-landing {
  margin: 10px 0;
}
article.project-landing {
  width: 70%;
}

.screenshot.hero,
.quiz-app-text {
  margin: 5px 0;
  width: 95%;
  line-height: 150%;
}
p.quiz-app-text {
  margin-bottom: 10px;
}
.link-button {
  width: 200px;
  height: 50px;
  padding: 10px;
  margin: 10px 0;
  vertical-align: middle;
  border-radius: 10px;
  border: none;
}

h1:hover,
.screenshots-link:hover,
.footer-link:hover,
.logo:hover,
button:hover,
.menu-items li:hover {
  cursor: pointer;
}

/*///////////////////////// //////// /////////////////////////*/
/*////////////////////////// HEADER ///////////////////////////*/
/*///////////////////////// //////// /////////////////////////*/

.header {
  border: solid 2px rebeccapurple;
  width: 100vw;
  flex-basis: 19%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 6px;
}
.name-logo-link,
.name-logo,
.nav-bar {
  margin: 0;
  padding: 5px;
  min-height: 50px;
}

.menu-items {
  list-style: none;
  min-height: 50px;
  margin: 0;
  padding: 0;
}
.menu-items li,
.nav-link.about,
.nav-link.projects,
.nav-link.contact {
  padding: 0 10px;
  margin: 0;
}
/* flex grow proportions */
.name-logo-link,
.nav-bar,
.menu-items,
.nav-link.about,
.nav-link.projects,
.nav-link.contact {
  width: 100%;
}

/*///////////////////////// //////// /////////////////////////*/
/*////////////////////////// FOOTER //////////////////////////*/
/*///////////////////////// //////// /////////////////////////*/

.footer {
  width: 100vw;
  height: 28%;
  padding: 10px;
  margin: 0;
}

.footer-text {
  padding: 5px;
  border: solid 2px yellowgreen;
}
.footer-link {
  /* border: solid 2px yellowgreen; */
  padding: 12px 5px;
  height: 50px;
}
.hide-footer {
  display: none;
}
.github-logo,
.linkedin-logo {
  height: 50px;
  padding: 0;
  margin: 0;
}
.logo-container {
  padding: 5px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*///////////////////////// //////// /////////////////////////*/
/*////////////////////////// IMAGES //////////////////////////*/
/*///////////////////////// //////// /////////////////////////*/

.screenshot {
  margin: 10px;
  padding: 0;
}
.screenshot.landing {
  width: 100%;
  margin: 5px 0;
}
.screenshot.full {
  width: 100%;
  margin-top: 50px;
}
.screenshot.full.top {
  margin-top: 10px;
}
.screenshot-thumbs {
  width: 40%;
}
.headshot {
  width: 60%;
  padding: 0;
  margin: 5px;
}

/*********** MEDIA QUERIES **********************/

@media screen and (min-width: 520px) {
  .headshot {
    max-width: 300px;
  }
  .quiz-app-text {
    width: 100%;
    text-align: left;
    align-self: baseline;
  }
}

@media screen and (min-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    height: 65vh;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0;
    padding-bottom: 0;
  }
  h1 {
    height: 25%;
  }
  .nav-bar {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu-items {
    flex-direction: column;
  }
  .menu-items li {
    padding: 30px;
  }
  .hide-li {
    display: none;
  }
  .main {
    width: 60%;
    margin-left: 40%;
    margin-right: 0;
    min-height: 100vh;
    justify-content: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;

    left: 0;
    bottom: 0;
    height: 35vh;
    width: 40%;
    border-radius: 0;
  }
  .github-logo,
  .linkedin-logo {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
